.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #070707;
  color: #fff;
}

.auth-buttons button {
  width: 90px;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  padding: 5px;
  margin-right: 5px;
  background-color: #ff69b4; /* 핑크 */
}